<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Playground</title>
</head>
<body>
    <h1 style="text-align: center;">Welcome!</h1>
    <main style="display: flex; justify-content: center; flex-wrap: wrap;">
        {% for i in range(0,num_of_boxes): %}
            <div style="border:1px solid black; background-color: {{color_input}} ; height: 300px;; width: 300px; margin: 5px;"></div>
        {% endfor %}
    </main>
</body>
</html>